/* HERO - BANNER */
.banner {
  position: relative;
  padding: 5rem 0;
  min-height: 54vh;
  background-image: linear-gradient(
      to bottom,
      rgba(70, 70, 70, 0.5),
      rgba(105, 105, 105, 0.5)
    ),
    url("https://raw.githubusercontent.com/javithorfinn/cuidadoras_calbuco/refs/heads/main/images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.banner__title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 1px 2px 3px #1c1f23;
}

.banner__lead {
  width: min(700px, 90%);
  margin: 1rem auto;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #d9dce0;
  text-shadow: 1px 2px 3px #1c1f23;
}
