/* HISTORIAS */
.stories {
  margin-top: 5rem;

  & time {
    color: #666;
    margin-bottom: 8px;
  }
}

.stories__grid {
  display: grid;
  margin: 0 auto;
  max-width: 872px;
  gap: 2.8rem;
}

.story-card {
  display: flex;
  position: relative;
  background: var(--bg-surface);
  border-radius: var(--radius-md);
  overflow: hidden;
  align-items: stretch;
  border: 1px solid #eee;
}

.story-card small {
  color: var(--text-hover);
  font-weight: 500;
}

.share__button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.share__button:hover {
  color: var(--text-hover);
}

.story__image {
  flex: 0 0 400px;
  height: auto;
  overflow: hidden;
}

.story-card img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.story-card svg {
  position: absolute;
  top: 50%;
  left: 23%;
  translate: -50% -50%;
  padding: 12px;
  background: #e7541e65;
  border: 1px solid #f0541b7f;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.story-card:hover svg {
  display: flex;
}

.story-card svg:hover {
  scale: 1.1;
  outline-offset: 2px;
  outline: 1px solid #f0541b7f;
}

/* Contenido de la tarjeta */
.story_card__content {
  padding: 1.1rem;
}

.story_card__content h3 {
  margin: 0 0 0.3rem;
  font-size: 1.3rem;
}

.history__button {
  display: flex;
  position: absolute;
  font-weight: 600;
  bottom: 12px;
  right: 12px;
  padding: 0.7rem 0.9rem;
  border-radius: 6px;
  background-color: #f04f1595;
  border: 1px solid #ee794e3c;
  color: #fff;
  text-shadow: 1px 2px 3px #666;
  transition: opacity 0.3s ease-in-out;
}

.history__button:hover {
  opacity: 0.8;
  outline-offset: 2px;
  outline: 1px solid #f0541b7f;
}

@media (width < 700px) {
  .story-card {
    flex-direction: column;
  }

  .story__image {
    flex-basis: auto;
    width: 100%;
    height: 220px;
  }

  .story-card img {
    width: 100%;
  }

  .story-card svg {
    top: 25%;
    left: 50%;
  }
}
